.hero-section-container{
    height: calc(100vh - 7rem);
    width: 100vw;
    background-color: white;
    margin-top: 7rem;
    overflow: hidden;
    position: relative;
    z-index: -100;
}
.hero-section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.hero-img{
    -ms-flex-item-align: end;
    align-self: flex-end;
    max-width: 1000px;
}

.content{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 600;
    margin-top: 2rem;
    padding-left: 8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 2;
    text-wrap: wrap;
    gap: 8rem;
    max-width: 50rem;
} 

.bold{
    font-size: 4.2rem;
}
.yellow{
    color: #FFB400;
}

#heroscript{
    color: #bbbbbb;
}

#hireme{
    max-width: 9rem;
    max-height: 5rem;
    padding: 1.2rem 1rem;
    background-color: #FFB400;
    border-radius: 5px;
    border: none;
    font-weight: 800;
}

@media screen and (max-width: 1650px) {
    .hero-section{
        height: 100%;
    }
    .bold{
        font-size: 3.2rem;
    }
    .content{
        max-width: 40rem;
        padding-left: 6%;
        gap: 4rem;
    }
    .hero-img{
        -ms-flex-item-align: end;
        align-self: flex-end;
        max-height: 600px;
    }
}

@media screen and (max-width: 1450px) {
    .hero-section{
        height: 100%;
    }
    .bold{
        font-size: 3.5rem;
    }
    #hireme{
        max-width: 7rem;
        max-height: 4rem;
        padding: 0.8rem 0.6rem;
        background-color: #FFB400;
        border-radius: 5px;
        border: none;
        font-weight: 800;
    }
    .content{
        max-width: 40rem;
        margin-top: 2rem;
        padding-left: 5%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-wrap: wrap;
        gap: 2rem;
    }
    .hero-img{
        -ms-flex-item-align: end;
        align-self: flex-end;
        max-height: 600px;
    }
}

@media screen and (max-width: 1050px) {
    .hero-section{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
    }
    .bold{
        font-size: 2.7rem;
    }
    #hireme{
        max-width: 7rem;
        max-height: 4rem;
        padding: 0.8rem 0.6rem;
        background-color: #FFB400;
        border-radius: 5px;
        border: none;
        font-weight: 800;
    }
    .content{
        margin-top: 2rem;
        padding-left: 5%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-wrap: wrap;
        gap: 2rem;
    }
    .hero-img{
        -ms-flex-item-align: end;
        align-self: flex-end;
        max-height: 400px;
    }
}

@media screen and (max-width: 770px) {
    .hero-section{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 5rem;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .bold{
        font-size: 3rem;
    }
    #hireme{
        max-width: 7rem;
        max-height: 4rem;
        padding: 0.8rem 0.6rem;
        background-color: #FFB400;
        border-radius: 5px;
        border: none;
        font-weight: 800;
    }
    .content{
        margin-top: 2rem;
        padding-left: 5%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-wrap: wrap;
        gap: 3rem;
    }
    .hero-img{
        -ms-flex-item-align: end;
            align-self: flex-end;
        max-height: 300px;
    }
}

@media screen and (max-width: 450px) {
    .hero-section{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 6.7rem;
    }
    .bold{
        font-size: 2.2rem;
    }
    #hireme{
        max-width: 7rem;
        max-height: 4rem;
        padding: 0.8rem 0.6rem;
        background-color: #FFB400;
        border-radius: 5px;
        border: none;
        font-weight: 800;
    }
    .content{
        margin-top: 2rem;
        padding-left: 10%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-wrap: wrap;
        gap: 2.6rem;
    }
    .hero-img{
        -ms-flex-item-align: end;
        align-self: flex-end;
        max-height: 300px;
    }
}

#red_polygon{
    position: absolute;
    bottom: 3.5rem;
    right: 8.6rem;
}
#orange_rec{
    position: absolute;
    right: 11rem;
    top: 5.9rem;
}
#blue_rec{
    position: absolute;
    left: 50rem;
    bottom: 15rem;
}
#green_cir1{
    position: absolute;
    left: 11rem;
    bottom: 4rem;
}
#green_cir2{
    position: absolute;
    right: 51rem;
    top: 4rem;
}
#orange_cir{
    position: absolute;
    left: 4rem;
    top: 6rem;
}