@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  background: transparent;
}

::-webkit-scrollbar {
  display: none;
}

body{
  width: 100vw;
  background-color: #F0F0F6;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  scrollbar-width: none;  /* For the FireFox version*/
}

#home-page.deactive,  #skill-page.deactive{
  visibility: hidden;
  display: none;
}

input[type='button'],
button{
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

input[type='button']:active,
button:active{
  -webkit-transform: scale(0.94);
  -ms-transform: scale(0.94);
  transform: scale(0.94);
}