#recommendations-section{
    margin-top: 3rem;
    margin-bottom: 3rem;
    min-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
}  
.carousel-card{ 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 250px;
    min-height: 250px;
    background-color: white;
    padding: 1.5rem;
    gap: 1rem;
}
.carousel-container{
    padding: 10px 10px;
    width: 55%;
    display: block;
}
.carousel-card p{
    font-size: 0.9rem;
    color: #767676;
}
.stars{
    color: #FFB400;
}
.user{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem;
    gap: 1rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.swiper .swiper-pagination-bullet{
    background-color: #FFB400;
}

@media (max-width: 1500px){
    .carousel-container{
        width: 70%;
    }
}
@media (max-width: 1300px){
    .carousel-container{
        width: 70%;
    }
}
@media (max-width: 1199px){
    .carousel-container{
        width: 55%;
    }
}
@media (max-width: 1050px){
    .carousel-container{
        width: 60%;
    }
}
@media (max-width: 950px){
    .carousel-container{
        width: 70%;
    }
}
@media (max-width: 900px){
    .carousel-container{
        width: 80%;
    }
}
@media (max-width: 800px){
    .carousel-container{
        width: 80%;
    }
    .carousel-card{
        padding: 7% 2%;
    }
}
@media (max-width: 650px){
    .carousel-container{
        width: 90%;
    }
    .carousel-card{
        padding: 7% 2%;
    }
}
@media (max-width: 600px){
    .carousel-container{
        width: 60%;
    }
    .carousel-card{
        padding: 7% 7%;
    }
}
@media (max-width: 480px){
    .carousel-container{
        width: 80%;
    }
    .carousel-card{
        padding: 7% 7%;
    }
}
@media (max-width: 400px){
    .carousel-container{
        width: 90%;
    }
    .carousel-card{
        padding: 7% 7%;
    }
}

.swiper .swiper-button-next {
    color: #FFB400;
}
.swiper .swiper-button-prev {
    color: #FFB400;
}
.swiper .swiper-button-prev {
    left: 0;
}
.swiper .swiper-button-next{
    right: 0
}