#fotter-section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.logos_only{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 60%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.second{
    margin: 2rem;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90vw;
    gap: 2.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.second .image{
    -ms-flex-item-align: start;
        align-self: flex-start;
}
.second .details{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 3rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
#fotter-section ul{
    list-style: none;
}

.second .f-c{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 0.7rem;
    color: #6e6e6ebb;
} 

.second .f-c img{
    width: 70%;
}

.second li{
    margin-bottom: 0.8rem;
}

#copyright{
    display: inline-block;
    margin: 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: #6e6e6ebb;
}

.second a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1100px){
    .logos_only{
        min-width: 70%;
    }
}

@media screen and (max-width: 900px){
    .logos_only{
        min-width: 80%;
    }
}

@media screen and (max-width: 699px){
    .logos_only{
        min-width: 60%;
    }
}

@media screen and (max-width: 450px){
    #fotter-section{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .logos_only{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: auto;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}