#section3{
    display: block;
}
#section3 h1{
    font-weight: 700;
    font-size: 2rem;
    color: #2B2B2B;
}
.grey{
    color: #767676;
}
.card-content-left{
    font-size: 1.1rem;
    font-weight: 500;
}
.contact-card{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    gap: 0.9rem;
    padding: 1.3rem;
    width: 100%;
    min-width: 275px;
    min-height: 208px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.conatct-card-img-placehoolder{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: #FFB400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
.contact-card .expand{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;    
    -webkit-box-pack: justify;    
        -ms-flex-pack: justify;    
            justify-content: space-between;
}

#Leaveinfo-section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 3% 6%;
    width: 100vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.leaveinfo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem 1rem;
    width: 70%;
}

.leaveinfo form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
    background-color: white;
    padding: 2.3rem;
}

.leaveinfo form div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.4rem;
}

.leaveinfo form input{
    border: transparent;
    background-color: #F0F0F6;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.1rem;
}

.leaveinfo form textarea{
    border: none;
    background-color: #F0F0F6;
    padding: 0.5rem;
    border-radius: 5px;
    resize: none;
}

.contact-information{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    padding: 1rem 1rem;
    width: 30%;
}
.contact-information h1{
    white-space: nowrap;
    overflow: visible;
}
#contact-cards{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    padding-left: 0rem;
    border-radius: 7px;
}

.leaveinfo form button{
    background-color: #FFB400;
    border: none;
    padding: 1rem;
    border-radius: 7px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.leaveinfo form button:active{
    -webkit-transform: scale(0.96);
        -ms-transform: scale(0.96);
            transform: scale(0.96);
}
#Leaveinfo-section h1{
    overflow: visible;
}

@media screen and (max-width: 1440px){
    #Leaveinfo-section{
        padding: 3% 5%;
    }
    .leaveinfo{
        width: 70%;
    }
    .contact-information{
        width: 30%;
    }
}


@media screen and (max-width: 1100px){
    #Leaveinfo-section{
        padding: 3% 3%;
    }
    .leaveinfo{
        width: 65%;
    }
    .contact-information{
        width: 35%;
    }
}

@media screen and (max-width: 850px){
    #Leaveinfo-section{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0% 7%;
    }
    .leaveinfo{
        width: 100%;
        min-width: 0px;
    }
    .contact-information{
        min-width: 100%;
    }
}
@media screen and (max-width: 450px){
    #Leaveinfo-section{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0% 7%;
    }
    .leaveinfo{
        width: 100%;
        min-width: 0px;
    }
    .contact-information{
        width: 100%;
    }
}

@media screen and (max-width: 430px){
    #Leaveinfo-section{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0% 3%;
    }
    .leaveinfo{
        padding: 2%;
    }
    .contact-information{
        width: 100%;
    }
    #info-form{
        padding: 4%;
    }
    .leaveinfo form input{
        padding: 1% 4%;
        font-size: 90%;
    }
    .leaveinfo form label{
        font-size: 90%;
    }
    #Leaveinfo-section h1{
        font-size: 1.7rem;
    }
}