.navbar{
    height: 7rem;
    width: 100vw;
    padding: 5vh 5vw;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    position: fixed;
    top: 0;

    z-index: 100;
    background-color: white;
}
.logo{
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
}
.nav-list{
    list-style: none;
    overflow: visible;
}
.nav-list li{
    display: inline-block;
    padding: 0rem 1.25rem;
}
.nav-list a{
    cursor: pointer;
    display: block;
    color: black;
    text-decoration: none;
    -webkit-transition: padding 0.3s ease, background-color 0.3s ease;
    -o-transition: padding 0.3s ease, background-color 0.3s ease;
    transition: padding 0.3s ease, background-color 0.3s ease;
}
.nav-list a.active {
    padding: 0.6rem 1.3rem;
    background-color: #FFB400;
    border-radius: 5px;
}